

.App{
    background-image: linear-gradient(to left bottom, #0f3705, #0c3a0b, #093d10, #054114, #004419);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container{
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    .container{
        width: 80%;
    }
}
@media only screen and (max-width: 668px) {
    .container{
        width: 95%;
    }
}














